<% provide :title, t(".title") %>
<div class="container-fluid bg-3 text-center">
  <br>
  <h1>
    <%= t(".jumbotron")[0] %>
  </h1>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://photo-cms-plo.zadn.vn/w800/Uploaded/2021/wopsvun/2018_08_03/opera_addd.jpg"
      class="img-responsive img-home" alt="Image">
      <h4><%= t(".label_image")[0] %></h4>
    </div>
    <div class="col-sm-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ-sqN0Qt1RKFiexLnENQIW3NYR7mVjjlbrg&usqp=CAU"
      class="img-responsive img-home" alt="Image">
      <h4><%= t(".label_image")[1] %></h4>
    </div>
    <div class="col-sm-3">
      <img src="https://kinhtechungkhoan.vn/stores/news_dataimages/ngoclam/032021/09/07/5813_tietkiem.jpg?rt=20210309075814?randTime=1616163857"
      class="img-responsive img-home" alt="Image">
      <h4><%= t(".label_image")[2] %></h4>
    </div>
    <div class="col-sm-3">
      <img src="https://i2.wp.com/w1.trithucvn.net/wp-content/uploads/2018/08/Thanh-cong-1.jpg?ssl=1"
      class="img-responsive img-home" alt="Image">
      <h4><%= t(".label_image")[3] %></h4>
    </div>
  </div>
</div><br>

<div class="jumbotron">
 <div class="container text-center">
   <h1><%= t(".jumbotron")[1] %></h1>
   <p><%= t ".content" %></p>
   <p>
     <a class="btn btn-primary btn-lg" role="button">
       <%= t ".button" %>
     </a>
   </p>
 </div>
</div>
