<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <script type="text/javascript">
      I18n.translations = <%== I18n::JS.filtered_translations.to_json %>;
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>
  <body>
    <div class="navbar">
      <%= render "layouts/navbar" %>
    </div>
    <div class="container-fluid">
      <% if logged_in? %>
        <%= render "layouts/sidebar" %>
      <% end %>
      <div class="<%= logged_in? ? "wrapper page-content-wrapper" : "container page-content-wrapper"%>">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_pack_tag "create_new_plan", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "budgets", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "statistic", "data-turbolinks-track": "reload" %>
  <script>
   var language = "<%= I18n.locale %>";
   I18n.translations = <%== I18n::JS.filtered_translations.to_json %>;
  </script>
</html>
